header {
  height: 400px;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: dashed;
  background-color: #e38800;
  background-image: url("../images/black-thread-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
