nav {
  padding: 1.5em;
  background-color: $background-color;
  color: #ffffff;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed; 
  top: 0; 
  width: 100%; 


 }


 nav span {
     font-family: 'Bungee', sans-serif;/*  */

 }

 nav > button {
  background-color: $background-color;
  border: $background-color;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;



 @keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }