nav {
  padding: 1.5em;
  background-color: #4056A1;
  color: #ffffff;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed; 
  top: 0; 
  width: 100%; 

 }
 nav span {
     font-family: 'Bungee', sans-serif;

 }

 nav button {
  background-color: #4056A1;
  border: #4056A1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
 }
